.cart__link {
  display: block;
  @include sprite($cart);
  position: relative;
}

.cart__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  background-color: $color-dark;
  border-radius: 50%;
  color: $color-light;
  font-size: 8px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
}

.cart__overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#000, .3);
  transition: opacity .6s ease, visibility .6s ease;
}

.cart__trigger-on {
  opacity: 1;
  visibility: visible;

  .cart {
    animation: showCart .6s ease;
    opacity: 1;
    visibility: visible;
  }
}

.cart__trigger-off {
  opacity: 0;
  visibility: hidden;

  .cart {
    animation: hideCart .6s ease;
    opacity: 0;
    visibility: hidden;
  }
}

.cart {
  position: absolute;
  right: 0;
  top: 0;
  background-color: $color-light;
  transition: opacity .6s ease, visibility .6s ease, transform .6s ease;
}

.cart__head {
  position: relative;
}

.cart__title {
  background-color: rgba(#f4f4f4, 0.5);
  padding: 30px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
}

.cart__close {
  position: absolute;
  width: 22px;
  height: 24px;
  top: 50%;
  right: 34px;
  transform: translateY(-50%);
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    &::before,
    &::after {
      background-color: darken($color: #c2c4cc, $amount: 25%);
    }
  }

  &::before,
  &::after {
    content: "";
    display: block;
    background-color: #c2c4cc;
    height: 3px;
    width: 30px;
    position: absolute;
    top: 0;
    transform-origin: left;
    transition: all .2s ease;
  }
  
  &::before {
    transform: rotate(43deg);
    left: 0;
  }
  
  &::after {
    transform: rotate(137deg);
    left: 100%;
  }
}

.cart__goods {
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 13px;
}

.cart__goods-item {
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
  display: flex;

  &:not(:last-child) {
    border-bottom: 1px solid #f4f4f4;
  }
}

.cart__goods-pic {
  margin-right: 15px;
}

.cart__goods-img {
  display: block;
}

.cart__goods-title {
  font-size: 13px;
  line-height: 1;
  color: #000;
  line-height: 1.53;
  padding-right: 25px;
  max-width: 170px;
  margin-bottom: 5px;
}

.cart__goods-text {
  font-size: 11px;
  color: #7d7d7d;
  font-weight: 600;
  margin-bottom: 5px;

  span {
    color: #000;
  }
}

.cart__goods-price {
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
}

.cart__goods-times {
  color: #7d7d7d;
  font-size: 12px;
}

.cart__goods-count {
  font-size: 12px;
}

.cart__del-item {
  border: 0;
  @include sprite($cart-del);
  align-self: flex-start;
  padding: 0;
  cursor: pointer;
}

.cart__bill {
  background-color: rgba(#f4f4f4, 0.5);
  padding: 25px;
  padding-left: 30px;
  padding-bottom: 10px;
}

.cart__bill-top {
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 7px;
  margin-bottom: 7px;
}

.cart__bill-bottom {
  margin-bottom: 5px;
}

.cart__bill-table {
  width: 100%;
}

.cart__bill-name {
  font-size: 13px;
  font-weight: 600;
  vertical-align: middle;

  &--uppercase {
    text-transform: uppercase;
  }
}

.cart__bill-price {
  text-align: right;
  font-weight: 600;
  font-size: 14px;
  vertical-align: middle;

  &--large {
    font-size: 20px;
  }
}

.cart__bill-link {
  
  &:link,
  &:visited {
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 100px;
    padding: 15px 30px;
    transition: all .2s ease;
  }

  &:hover {
    background-color: lighten($color: #000000, $amount: 25%);
  }
}

@keyframes showCart {
  0% {
    transform: translateX(240px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes hideCart {
  100% {
    transform: translateX(240px);
  }
}