.page-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header__top {
  display: flex;
  align-items: center;
  padding: 30px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #d4d4d4;
}

.header__logo {
  margin-right: auto;
  margin-left: auto;
}

.header__share {
  margin-right: 25px;
}